body {
    margin: 8px;
    display: block;
    background-color:#d2dde9;
}
#mainHeading {
    color: red;
    text-shadow: 0 4px black, 0 6px #777;
    font-family: 'Ultra', sans-serif;   
	font-size: 70px;
text-align: center;}

.funParagraph { 
    color: green; 
    font-weight: bold; 
    font-size: 25px;
    text-shadow: 0 2px rgb(245, 241, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    } 

.funLink {
    font-size: 30;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }